html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.custom_face {
	background-image: url('/img/face.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}